* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  background-color: #45a173;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
#container {
  position: fixed;
  top: calc(50% + 1.5rem);
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #334d41;
  padding: 0.25rem;
  text-align: center;
}
#topbar button {
  background: none;
  border: 1px solid #fff;
  outline: none;
  margin: 0.1rem;
  padding: 0.4rem;
  font: inherit;
  font-size: 0.75rem;
  line-height: 1;
  color: #fff;
  cursor: pointer;
}
#topbar button:hover {
  background-color: #fff;
  color: #444;
}
.message {
  position: fixed;
  top: 2.5rem;
  left: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  font-size: 0.5rem;
  text-align: center;
}
.card {
  position: absolute;
  display: inline-block;
  left: -3rem;
  top: -5.24rem;
  width: 6rem;
  height: 10.48rem;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  cursor: default;
  will-change: transform;
}
.card:before,
.card:after {
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  line-height: 0.7rem;
  font-family: 'Ubuntu Condensed', sans-serif;
  white-space: pre-line;
  width: 0.55rem;
  letter-spacing: -0.1rem;
}
.card:before {
  top: 0.15rem;
  left: 0;
}
.card:after {
  bottom: 0.1rem;
  right: 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.card .face {
  height: 100%;
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card .back {
  position: absolute;
  background-image: url("faces/back.png");
  background-position: 50% 50%;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.card.joker.rank1:before,
.card.joker.rank2:before,
.card.joker.rank3:before,
.card.joker.rank1:after,
.card.joker.rank2:after,
.card.joker.rank3:after {
  content: "J\a O\a K\a E\a R";
  letter-spacing: 0;
  font-size: 0.4rem;
  line-height: 0.4rem;
  padding: 0.15rem 0.05rem;
  width: 0.5rem;
}
.card.joker.rank1 .face {
  background-image: url("faces/4_1.svg");
}
.card.joker.rank2 .face {
  background-image: url("faces/4_2.svg");
}
.card.joker.rank3 .face {
  background-image: url("faces/4_3.svg");
}
.card.wands.rank1 .face {
  background-image: url("faces/tarot_wands_01.jpg");
}
.card.wands.rank2 .face {
  background-image: url("faces/tarot_wands_02.jpg");
}
.card.wands.rank3 .face {
  background-image: url("faces/tarot_wands_03.jpg");
}
.card.wands.rank4 .face {
  background-image: url("faces/tarot_wands_04.jpg");
}
.card.wands.rank5 .face {
  background-image: url("faces/tarot_wands_05.jpg");
}
.card.wands.rank6 .face {
  background-image: url("faces/tarot_wands_06.jpg");
}
.card.wands.rank7 .face {
  background-image: url("faces/tarot_wands_07.jpg");
}
.card.wands.rank8 .face {
  background-image: url("faces/tarot_wands_08.jpg");
}
.card.wands.rank9 .face {
  background-image: url("faces/tarot_wands_09.jpg");
}
.card.wands.rank10 .face {
  background-image: url("faces/tarot_wands_10.jpg");
}
.card.wands.rank11 .face {
  background-image: url("faces/tarot_wands_11.jpg");
}
.card.wands.rank12 .face {
  background-image: url("faces/tarot_wands_12.jpg");
}
.card.wands.rank13 .face {
  background-image: url("faces/tarot_wands_13.jpg");
}
.card.wands.rank14 .face {
  background-image: url("faces/tarot_wands_14.jpg");
}
.card.pents.rank1 .face {
  background-image: url("faces/tarot_pents_01.jpg");
}
.card.pents.rank2 .face {
  background-image: url("faces/tarot_pents_02.jpg");
}
.card.pents.rank3 .face {
  background-image: url("faces/tarot_pents_03.jpg");
}
.card.pents.rank4 .face {
  background-image: url("faces/tarot_pents_04.jpg");
}
.card.pents.rank5 .face {
  background-image: url("faces/tarot_pents_05.jpg");
}
.card.pents.rank6 .face {
  background-image: url("faces/tarot_pents_06.jpg");
}
.card.pents.rank7 .face {
  background-image: url("faces/tarot_pents_07.jpg");
}
.card.pents.rank8 .face {
  background-image: url("faces/tarot_pents_08.jpg");
}
.card.pents.rank9 .face {
  background-image: url("faces/tarot_pents_09.jpg");
}
.card.pents.rank10 .face {
  background-image: url("faces/tarot_pents_10.jpg");
}
.card.pents.rank11 .face {
  background-image: url("faces/tarot_pents_11.jpg");
}
.card.pents.rank12 .face {
  background-image: url("faces/tarot_pents_12.jpg");
}
.card.pents.rank13 .face {
  background-image: url("faces/tarot_pents_13.jpg");
}
.card.pents.rank14 .face {
  background-image: url("faces/tarot_pents_14.jpg");
}
.card.cups.rank1 .face {
  background-image: url("faces/tarot_cups_01.jpg");
}
.card.cups.rank2 .face {
  background-image: url("faces/tarot_cups_02.jpg");
}
.card.cups.rank3 .face {
  background-image: url("faces/tarot_cups_03.jpg");
}
.card.cups.rank4 .face {
  background-image: url("faces/tarot_cups_04.jpg");
}
.card.cups.rank5 .face {
  background-image: url("faces/tarot_cups_05.jpg");
}
.card.cups.rank6 .face {
  background-image: url("faces/tarot_cups_06.jpg");
}
.card.cups.rank7 .face {
  background-image: url("faces/tarot_cups_07.jpg");
}
.card.cups.rank8 .face {
  background-image: url("faces/tarot_cups_08.jpg");
}
.card.cups.rank9 .face {
  background-image: url("faces/tarot_cups_09.jpg");
}
.card.cups.rank10 .face {
  background-image: url("faces/tarot_cups_10.jpg");
}
.card.cups.rank11 .face {
  background-image: url("faces/tarot_cups_11.jpg");
}
.card.cups.rank12 .face {
  background-image: url("faces/tarot_cups_12.jpg");
}
.card.cups.rank13 .face {
  background-image: url("faces/tarot_cups_13.jpg");
}
.card.cups.rank14 .face {
  background-image: url("faces/tarot_cups_14.jpg");
}
.card.swords.rank1 .face {
  background-image: url("faces/tarot_swords_01.jpg");
}
.card.swords.rank2 .face {
  background-image: url("faces/tarot_swords_02.jpg");
}
.card.swords.rank3 .face {
  background-image: url("faces/tarot_swords_03.jpg");
}
.card.swords.rank4 .face {
  background-image: url("faces/tarot_swords_04.jpg");
}
.card.swords.rank5 .face {
  background-image: url("faces/tarot_swords_05.jpg");
}
.card.swords.rank6 .face {
  background-image: url("faces/tarot_swords_06.jpg");
}
.card.swords.rank7 .face {
  background-image: url("faces/tarot_swords_07.jpg");
}
.card.swords.rank8 .face {
  background-image: url("faces/tarot_swords_08.jpg");
}
.card.swords.rank9 .face {
  background-image: url("faces/tarot_swords_09.jpg");
}
.card.swords.rank10 .face {
  background-image: url("faces/tarot_swords_10.jpg");
}
.card.swords.rank11 .face {
  background-image: url("faces/tarot_swords_11.jpg");
}
.card.swords.rank12 .face {
  background-image: url("faces/tarot_swords_12.jpg");
}
.card.swords.rank13 .face {
  background-image: url("faces/tarot_swords_13.jpg");
}
.card.swords.rank14 .face {
  background-image: url("faces/tarot_swords_14.jpg");
}
.card.major.rank0 .face {
  background-image: url("faces/tarot_major_00.jpg");
}
.card.major.rank1 .face {
  background-image: url("faces/tarot_major_01.jpg");
}
.card.major.rank2 .face {
  background-image: url("faces/tarot_major_02.jpg");
}
.card.major.rank3 .face {
  background-image: url("faces/tarot_major_03.jpg");
}
.card.major.rank4 .face {
  background-image: url("faces/tarot_major_04.jpg");
}
.card.major.rank5 .face {
  background-image: url("faces/tarot_major_05.jpg");
}
.card.major.rank6 .face {
  background-image: url("faces/tarot_major_06.jpg");
}
.card.major.rank7 .face {
  background-image: url("faces/tarot_major_07.jpg");
}
.card.major.rank8 .face {
  background-image: url("faces/tarot_major_08.jpg");
}
.card.major.rank9 .face {
  background-image: url("faces/tarot_major_09.jpg");
}
.card.major.rank10 .face {
  background-image: url("faces/tarot_major_10.jpg");
}
.card.major.rank11 .face {
  background-image: url("faces/tarot_major_11.jpg");
}
.card.major.rank12 .face {
  background-image: url("faces/tarot_major_12.jpg");
}
.card.major.rank13 .face {
  background-image: url("faces/tarot_major_13.jpg");
}
.card.major.rank14 .face {
  background-image: url("faces/tarot_major_14.jpg");
}
.card.major.rank15 .face {
  background-image: url("faces/tarot_major_15.jpg");
}
.card.major.rank16 .face {
  background-image: url("faces/tarot_major_16.jpg");
}
.card.major.rank17 .face {
  background-image: url("faces/tarot_major_17.jpg");
}
.card.major.rank18 .face {
  background-image: url("faces/tarot_major_18.jpg");
}
.card.major.rank19 .face {
  background-image: url("faces/tarot_major_19.jpg");
}
.card.major.rank20 .face {
  background-image: url("faces/tarot_major_20.jpg");
}
.card.major.rank21 .face {
  background-image: url("faces/tarot_major_21.jpg");
}
@media (max-width: 540px) {
  #topbar {
    text-align: left;
  }
  .gh-ribbon {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -o-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
}
@media (min-width: 640px) {
  html {
    font-size: 125%;
  }
}
